
body {
  font-family: 'Alegreya', sans-serif;

  background: {
    image: url('../images/background.png');
    repeat: no-repeat;
    position: center center;
    size: cover;
  };  font-size: 16px;
  height: auto;
}
header {
  background: {
    color:transparent;
  }
  padding: 4em 0 0 0;
}
.wrap {
  max-width: 44em;
  margin: 0 auto;
}
article {
  margin: 0 auto;
  padding: 1em 2em;
  background: #FEFAFA;
  &.nothing {
    margin-top: -2.5em;
  }
  h2 {
    margin-bottom: .5em;
    position: relative;
    font-size: 2em;
    line-height: 2em;
    font-family: "Bree Serif", sans-serif;
    font-weight: bold;
    color: #380914;
    @include phone {
      font-size: 1.25em;
    }
    span {
      position: absolute;
      right:0;
      color:#380914;
      font-weight: bold;
      font-size: .75em;
      line-height: 3em;
      font-family: 'Alegreya', sans-serif;
      @include phone {
        position: relative;
        display: block;
        line-height: 2em;
      }
    }
    & + h3 {
      font-size: 1em;
      margin-top: -1.5em;
      margin-bottom: .5em;
      @include phone {
        margin-top:-.5em;
      }
    }
  }
  p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #380914;
    margin-bottom: 1em;
    @include phone {
      font-size: 1em;
    }
  }
  ul, ol {
    margin-left: 1em;
  }
}

header + article {
    background: transparent;
    color: #FEFAFA;
    margin-bottom: 1em;
    padding:1em 2em 4em 2em;
    .mejs__time-hovered {
      background: rgba(55,10,20,.2)
    }
    .mejs__controls .mejs__time-rail .mejs__time-current {
    	background: #FC3868;
    }
    .mejs__container {
      background: #FC3868;
    }
    .mejs__container .mejs__controls .mejs__time {
      color:#631D2C
    }
    .mejs__controls .mejs__time-rail .mejs__time-total {
      background: #FFFAFC;
      border: 0;
    }
    h2 {
      color: #FFE0E6;
      span {
        color: #FFE0E6;
      }
    }
    p, ul, ol {
      color: #FFE0E6;
    }
  }


hr {
  border: 0;
  margin-top: 1em;
  height: .25em;
	background: #FFFAFC;
}

footer {
  background: #FEFAFA;
  text-align: center;
  padding: 1em 2em 5em 2em;
  display: block;
  p {
    display: block;
    line-height: 1.5em;
    font-size: 1em;
    a {
      font-weight: bold;
      font-style: italic;
    }
  }
}

.about {
  position: absolute;
  top: 0;
  width: 100%;
  &__content {
    display: none;
    padding: 1em;
    position: relative;
    width: 100%;
    background: rgba(254, 224, 230,.5);
    p {
      font-size: 1.25em;
      line-height: 1.75em;
      color:#380914;
      @include phone {
        font-size: 1em;
        line-height: 1.5em;
      }
    }
  }
  &__circle {
    cursor: pointer;
    position:relative;
    overflow: hidden;
    left: -.5em;
    @include tablet {
      left: 1.2em;

    }
    &__inside {
      position: relative;
      top: -2.5em;
      width:5em;
      height: 5em;
      border-radius: 2.5em;
      font-size: .85em;
      line-height: 6.5em;
      text-align: center;
      color:#631D2C;
      text-transform: uppercase;
      font-family: "Bree Serif", sans-serif;
      background: rgba(254, 224, 230,.5)
    }
  }
}
.download {
  line-height: 2em;
}

.links {
  display: flex;
  justify-content: center;
  align-content: center;
  span {
    text-align: center;
    border: .05em solid #FEE0E6;
    display: block;
    color: #FEE0E6;
    font-size: 2em;
    width: 2em;
    height: 2em;
    line-height: 1.9em;
    border-radius: 2.5em;
    margin: 0 .25em;
  }
}

.desc {
  color: #fff;
  margin-top: 1em;
  padding-bottom: 5em;
  text-align: center;
  .wrap {
    max-width: 48em;
    padding: 0 2em;
  }
}

a:hover {
  opacity:.75;
}

.logo {
  img {
    display: block;
    margin: 0 auto;
    border-radius: .25em;
    max-width: 19em;
    margin-bottom: 3em;
    box-shadow: 0px 0px 10px 5px rgba(55,10,20,1);

  }
}
