@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold Condensed';
    src: url('../fonts/gothamhtf-boldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-boldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book Condensed';
    src: url('../fonts/gothamhtf-bookcondensed-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-bookcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Black';
    src: url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Bold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Light';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Condensed Light';
    src: url('../fonts/proximanovacond-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanovacond-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
