.mejs__time-handle {
  display: none !important;
}
.mejs__container {
	background: #621E2D;
	text-align: left;
	vertical-align: top;
	text-indent: 0;
	width: 100% !important;
	height: 50px !important;
	border-radius: 5px;
  margin-top: 20px;
}

.mejs__container .mejs__controls {
	height: 100%;
	background: transparent;
	display: flex;
}

.mejs__controls .mejs__time-rail span,
.mejs__controls .mejs__time-rail a,
.mejs__container .mejs__controls div {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0px;
  margin-right: 0 !important;
	cursor: pointer;
}

.mejs__controls div.mejs__time-rail {
	padding-top: initial;
	height: 100%;
}

.mejs__controls .mejs__time-rail .mejs__time-total {
	margin: 0
}

.mejs__container .mejs__controls .mejs__time {
	color: #fff;
	display: block;
	height: 27px;
	width: auto;
	padding: 0;
	line-height: 25px;
	overflow: hidden;
	text-align: center;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.mejs__container .mejs__controls .mejs__time {
	position: absolute;
	color: #FEFAFA;
	right: 10px;
	bottom: 0;
	top: 0;
	margin: auto;
	font-size: 32px;
	pointer-events: none;
}

.mejs__controls .mejs__time-rail .mejs__time-float-corner {
	display: none !important;
}

.mejs__controls .mejs__time-rail .mejs__time-float {
  display: none !important;
}

.mejs__controls .mejs__time-rail .mejs__time-float-current {
  display: none !important;

}

.mejs__container .mejs__controls div {
	height: 100%;
	width: 50px;
	position: relative;
}

.mejs__controls .mejs__button button {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
	border: 0 !important;
	background: transparent;
	outline: none;
}

.mejs__controls .mejs__play:after {
	position: absolute;
	content: "\f04b";
  font-family: "FontAwesome";
	width: 17px;
	height: 50px;
  color:#fff;
  line-height: 50px;
  font-size: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transition: all 100ms linear;
	pointer-events: none;
}

.mejs__controls .mejs__pause:after {
	position: absolute;
  content: "\f04c";
  font-family: "FontAwesome";
  width: 17px;
	height: 50px;
  color:#fff;
  line-height: 50px;
  font-size: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transition: all 100ms linear;
	pointer-events: none;
}

.mejs__controls .mejs__time-rail .mejs__time-total {
	background: #380914;
}

.mejs__controls .mejs__time-rail .mejs__time-loaded {
	background: transparent;
	background-size: 50px 50px;
	animation: move 3s linear infinite;
	opacity: 0.1;
}

.mejs__controls .mejs__time-rail .mejs__time-current {
	background: #621E2D
}

.mejs__controls .mejs__button button:focus {
	outline: none;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}


.mejs__controls {
  padding: 0 0 0 10px;
}

.mejs__controls .mejs__time-rail .mejs__time-total {
    background: #380914;
}
.mejs__time-hovered {
  background: rgba(254,224,230,.2)
}
